.ul-list-items {
  padding-left: 0;
  list-style-type: none;

  .list-group-item{
    margin: 5px 0;
  }
  .remove-item{
      font-size: 20px;
      float: left;
      position: absolute;
      top: 12px;
      left: 6px;
      cursor: pointer;
      color: rgb(222, 79, 79)
  }

  .todo-item{
    padding-left: 20px;
    font-size: 17px;
  }

}